.block
  .memo-right
    .group-user
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .group-user-image
        =image_tag("/images/babyFTHG7630_TP_V.jpg", height: "50px", width: "50px")
      .user-area
    .message-rig
      .message-form
        %input.message-aria
        %i.fas.fa-image
        .message-aria-try
    .message-send
      //%i.far.fa-paper-plane
      %i.fas.fa-paper-plane
  .memo-no-to
    .memo-line
      .memo-message
        %p.memesage
        .memo-image
          =image_tag("/images/dummyface.png",class:"message-user", height: "60px", width: "60px")
        .memo-m
          %p.mmm
            こんにちは
      .memo-message-crian
        .message-memo
          %p.memesage
          .memo-m
            %p.mmm
              こんにちは
          .memo-image
            =image_tag("/images/dummyface.png",class:"message-user", height: "60px", width: "60px")
      
      -# .right-form
      -# .form
      -# = form_for [@group, @message] do |f|
      -#   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      -#   .form__mask
      -#     = f.label :image, class: 'form__mask__image' do
      -#       = fa_icon 'picture-o', class: 'icon'
      -#       = f.file_field :image, class: 'hidden'
      -#   = f.submit 'Send', class: 'form__submit'
      

            

