-# %span.follow-wrapper{:id => "user_#{@user.id}"}
-#   = render 'follow_form', user: @user if signed_in?
-# %h4
-#   = render 'users/stats'
.text-center
    //= image_tag @user.image.url, class: "avatar"
-# .text-center#user-description
-#     = @user.nickname
-#     - if user_signed_in?
-#         #follow_form
-#             - if current_user.following?(@user)
-#                 #liked.btn.btn-default いいね済
-#             - else
-#                 = render 'follow', {relationship: @relationship}
-#     %br= @user.profile