.conteiner
  = render partial: "sheard/header"
  = link_to group_messages_path(@group.id) do
    グループのメッセージ画面に戻る
  = @album.name
  .album-photo
    -if @album.images.length != 0
      - @album.images.each do |photo|
        = image_tag photo.image.url, class:"item-image",height:'200px'
    - else
      アルバムに写真が登録されていません
  