.mys-ss
  .main
    .paradaimu
      .paradaimus
        .paradaimusy
          %p
            白髪憲一
          %p
            1995年生まれ
          %p
            出身：
            大阪府
          %p
            略歴：
            機械の短期大学卒業後に建設機械の整備士として従事,
            その後プログラミングスクールTECH::EXPARTにて
            HTML・CSS・Ruby・Ruby on Rails・JavaScript・jQuery・SQL・Git・ GitHub
            Haml・SCSS・AWS 等の技術を用いたアプリケーション開発 
            を行いました。

          

          