.contents
  .head
    .head-left
      .level-g
        .icon
          =image_tag("/images/dummyface.png", height: "50px", width: "50px")
        .level
          %p level
          %p 11
        .level-gage
    .head-right
      .sarch
        .search-fele
          %input
        .search-btn
          %button
            検索する
            