.fotter-main {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  .fotter-nav{
    width: 1020px;
    margin: 0 auto;
    display: flex;
    .fotter-list1 {
      padding: 0 40px 0 0;
      margin-top: 18px;
    }
    h2 {
      font-size: 16px;
    }
    ul {
      margin-left: 10px;
    }
    li {
      line-height: 1.4rem;
      margin: 16px 0 0;
      a {
        color:white;
        opacity: 0.7;
        text-decoration: none;
      }
      a:hover {
        border-bottom: solid 1px #ffff;
      }
    }
    .btn--twitter {
      color: white;
      margin-top: 30px;
      display: inline-block;
      width: 30px;
      font-size: 30px;
    }
    .btn-facebook {
      display: inline-block;
      margin-left: 30px;
      font-size: 30px;
      color: white;
    }
    .fotter-list2 {
      padding: 0 40px 0 0;
      margin-top: 18px;
    }
    .fotter-list3 {
      padding-right: 40px;
      margin-top: 18px;
      .fotter-list3-1{
        display: flex;
      }
    }
    .fotter-list4 {
      padding: 0 40px 0 0;
      margin-top: 18px;
    }
  }
}


.bottom {
  width: 1020px;
  margin: 30px auto 20px;
  display: flex;
  img {
    text-align: center;
    display: block
  }
  .scj {
    text-align: center;
    padding:0 0 0 70px;
    width: 50%;
    display: block;
    line-height: 30px;
  }
}
