.oooo{
  width: 100%;
  display: flex;
}
.ooo-left{
  display: inline-block;
}

.ooo-tag{
  font-size: 50px;
}

.syozoku-all{
  font-size: 30px;
}

.ooo-right{
  display: inline-block;
}

.ooo-user-image{
  margin: 15px;
}

.ppp-right{
  display: inline-block;
  width: 500px;
  height: 500px;
  overflow: scroll;
  margin: 30px 0 0 100px;
}

.ppp-user{
  display: inline-block;
 
}

.user-ppp-box{
  overflow: scroll;
}

.taguzuke{
  font-size:25px;
  &:hover{
    border-bottom:solid 2px #fff ;
    font-size:28px;
  }
}