.block{
  width: 99%;
  height: 95%;
  background: black;
  background-image:url("https://cdn.piapro.jp/thumb_i/50/50a1m91qoeibt87d_20140406144548_0740_0500.jpg");
  //background-image:url("/images/5465ba37-e352-42c3-a63c-c6d7cc9c74e5.jpg");
  background-size:cover;
  justify-content: center;
  color: black;
  overflow: scroll;
  
}

// .message{
//   border-bottom: solid 2px black;
// }

.memo-no-to{
  margin-top: 100px;
  width: 50%;
  height: 85%;
  margin: 0 auto;
  background-image:url("/images/a-left.jpg");
  opacity: 0.80;
  position: absolute;
  margin: 30px;
  background-color: rgba(255,255,255,0.4);
  display:inline-block;
  // overflow: scroll;
  
}

.memo-line{
  height: 90%;
  overflow: scroll;
}

.fa-user-edit{
  color: #fff;
}

.message-memo{
  display: inline-flex;
}



.memo-message{
  display: flex;
  text-align: center;
  margin: 30px 20px ;
}

.memo-message-crian{
  text-align: right;
  margin-right: 50px;
}

.momo-image{
  display: inline-block;
  width: 60px;
  height: 60px;
}

.hidden{
  display: none;
}


.memo-m{
  display: inline-block;
  line-height: 60px;
}

.message-user{
  border-radius: 50px;
}

.memo-right{
  width: 40%;
  height: 90%;
  //background: rosybrown;
  float: left;
}

.message-form{
  width: 80%;
  background: white;
  border-radius: 20px;
  margin-left: 20px;
  & i{
    font-size: 38px;
  }
}

.message-aria{
  width: 70%;
  height: 100px;
  border-radius: 20px;
  border-style: none;
  margin-left:30px;
  font-size: 20px;
  margin-top:20px;
  margin-right:15px;
}
// .message-aria-try{
//     width: 0;
//     height: 0;
//     border: 30px solid transparent;
//     border-top: 70px solid #fff;
//     margin-left: 200px;
//     position: absolute;

// }



.message-send{
  
  & i{
    font-size: 100px;
    color:white;
    margin-top:30px;
    margin-left: 170px;
    padding: 30px;
    //background:#444;
    border-radius: 20px;;
  }
}

.upper-message__date{
  text-align: left;
  font-size: 12px;
}

.upper-message__date-cre{
  text-align: right;
  font-size: 12px;
}

.mmm{
  font-size:18px;
  margin-left:20px;
}

.group-user{
  position: relative;
  // height: 400px;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  .group-user-image{
    padding: 10px;
    display: inline-block;
    & img{
    border-radius: 50%;
    }
  }
}

.itirann-user:hover{
  border-bottom:solid 2px #fff;
  font-size: 17px;
  // .user-aaapp{
  //   border-bottom:solid 2px #fff;
  // }
}



// .group-nohito{
//   border: 2px solid #fff;
// }
.user-aaapp{
  color:#fff ;
}

.user-area{
  text-align: center;
  align-items: center;
  font-size:25px ;
}


.up-box:hover{
   border-bottom: solid 2px #fff ;
   font-size:28px ;
   margin:10px 0px ;
 }



.conteiner{
  & a{
    color: #fff;
    text-decoration: none;
  }
  .message-efe{
    color: #0099e9;
  }

  .sinsei-user{
    font: bold;
    color: #0099e9;
    border-bottom: solid 1px #0099e9 ;
  }
  
}

.hen{
  text-align:center ;
}
.orafu{
  font-size:28px;
}

.upper-message__user-name{
  color: black;
}



