.main-block{
  width: 100%;
  height:90%;
  overflow: scroll;
  .profile-main{
    width: 40%;
    .profile-side{
      width: 45%;
      height: 150px;
      background: #fff;
      display: flex;
      .profile-relative-box{
        display: flex;
        .profile-relati{
          margin: 10px;
          text-align: center;
        }
      }
    }
    .profile-text{
      margin-top: 30px;
      max-height: 400px;
      overflow: scroll;
      // background: #fff;
      width:100%;
      border: solid 2px #fff;
      .profile-xam{
        & p{
          border-radius: 10px;
          margin: 10px;
          border: solid 1px #fff;
          font-size: 20px;
          // max-height: 300px;
          overflow-y: scroll;
        }
      }
    }
  }
}

.profile-main{
  display: inline-block;
}

.profile-sub{
  display: inline-block;
  background: #fff;
}

.profile-exact{
  width: 300px;
  height: 200px;
  font-size: 18px;
}

.contn-right{
  display: inline-block;
  float: right;
}

.oooo-profile{
  font-size: 26px;
  & a:hover{
    font-size:28px;
    border-bottom: solid 2px #fff ;
  }
}
.jjjj{
  font-size:21px;
  &:hover{
    font-size:23px
  }
}

.ssssssssl{
  font-size: 25px;
  .papapa:hover{
    font-size: 28px;
    border-bottom: solid 2px #fff ;
  }
}

.interests-block{
  &:hover{
    border:solid 2px #0099e9;
  }
}

.loggger{
  width: 80%;
  margin: 0 auto;
}

.profile-rela{
  text-align: center;
}

.profile-nickname{
  margin: 10px 0;
  & input{
    width: 200px;
    height: 30px;
    font-size:17px ;
  }
  & label{
    color: black;
  }
}
.login-tatat{
min-width: 35%;
height: 100%;
display: inline-block;
}

.profile-introductt{
  display: inline-block;
  & textarea{
    width: 300px;
    height: 400px;
    margin: 20px;
    font-size: 20px;
  }
}


.paoayou{
  display: inline-block;
  text-align: center;
  align-items: center;
  position: absolute;
  // line-height: 80px;
}

.profile-eit-gender{
  width: 200px;
  height: 35px;
  font-size: 20px;
  margin: 20px 0;
}
.ko{
vertical-align: middle;
position: relative;
}

.send-profile-la{
  & input{
    width: 200px;
    height: 40px;
    background: cyan;
    font-size:20px;
  }
}


