.wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url(https://sozai-good.com/download?id=4508&type=1&subnumber=0&extention=jpg);
}

.login-main{
  width: 700px;
  background: coral;
  margin: 0 auto;
  
}
.login-sub{
  display: flex;
  position: absolute;
  margin-top: 75px;
 
 
}

.login-left{
  width: 50%;
  height: 100%;
  display: inline-block;
}

.left-image{
  height: 210px;
  width: 100%;
  text-align: center;
}
.image-box{
  .new-user-image{
    border-radius: 50%;
  }
}

.left-exa{
  justify-content: center;
}

.left-sns{
  text-align: center;
}

.sns-box-facebook{
  display:inline-block;
  width: 200px;
  background: #4c5a9c;
  text-align: center;
  height: 27px;
  padding: 12px;
  border-radius: 10px;
  margin-bottom:10px;
  display: none;
  color: white;
  animation: hue 60s infinite linear;
  & a{
    padding: 10px;
  }
  & i{
    color: white;
  }
}

.sns-box-google{
  display:inline-block;
  width: 200px;
  background: white;
  text-align: center;
  height: 27px;
  padding: 12px;
  border-radius: 10px;
  margin-bottom:10px;
  display: none;
  color: black;
  & a{
    padding: 10px;
  }
}

.sns-box-twitter{
  display:inline-block;
  width: 200px;
  background: #55acee;
  text-align: center;
  height: 27px;
  padding: 12px;
  border-radius: 10px;
  margin-bottom:10px;
  display: none;
  color: white;
  & a{
    padding: 10px;
  }
  & i{
    color: white;
  }
}




.left-sns{
  margin-top:10px;
  width: 320px;
  height: 70px;
  justify-content: space-between;
  & a{
    text-decoration: none;
    color:white;
    & i{
      color: black;
    }
  }
}

.left-sns-icon-facebook{
  display: inline-block;
  background: #4c5a9c;
  border-radius: 50%;
  & i{
    padding: 15px;
    font-size: 30px;
    color: white;
  }
}

.left-sns-icon-google{
  display: inline-block;
  background: white;
  border-radius: 50%;
  & i{
    padding: 15px;
    font-size: 30px;
    color: black;
  }
}

.left-sns-icon-twitter{
  display: inline-block;
  background: #55acee;
  border-radius: 50%;
  & i{
    padding: 15px;
    font-size: 30px;
    color: white;
  }
}

.login-right{
  width: 50%;
  height: 100%;
  display: inline-block;
}

.form-log{
  width: 80%;
  height:100px;
  & input{
    width: 90%;
    height: 40px;
  }
}

.form-send{
  margin-bottom:30px;
  text-align: center;
  align-items: center;
  & input{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    width: 250px;
    height: 100px;
    background: #60EEFF;
  }

}

.fail-dodo{
  display: none;
}







