.contents{
  width: 100vw;
  height:100vh;
}

.head{
  height:55px;
  width: 100%;
  background: gainsboro;
  justify-content: space-between;
}

.head-left{
  display: inline-block;
}

.left-cont{
  display: flex;
}

.head-lesson{
  padding: 15px;
  background: gray;
  margin-right: 10px;
  width: 100px;
  text-align: center;
}

.head-icon{
  & i{
    font-size: 35px;
    padding: 10px ;
  }
}

.head-right{
 width: 250px;
 float: right;
}

.head-left{
  display: inline-block;
}

.user-info{
  display: flex;
  margin-top:15px;
  & p{
    font-weight: 600;
  }
}

.right-cont{
  display: flex;
  justify-content: space-between;
  & i{
    padding: 17px;
    font-size: 20px;
  }
}

.main{
  width: 100vw;
  height: calc(100vh - 55px);
  overflow: scroll;
}



.side-bar{
  height: calc(100vh - 55px);
  width: 330px;
  background: greenyellow;
  float: right;
}

.carender-cont{
  width: 300px;
  height: 280px;
  background: olive;
}

.main-g{
  width: calc(100vw - 330px);
  display: inline-block;
  text-align: center;
}

.main-user{
  width: 900px;
  height: 200px;
  background: orange;
  display: inline-block;
  margin: 25px auto;
  border-radius: 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}


.user-icon{
  width: 40%;
  margin-top:30px;
  display: inline-block;
  
}

.user-main-icon{
  display: inline-block;
  & img{
    border-radius: 50%;
  }
}

.user-garade{
  display: inline-block;
  margin-bottom: 20px;
  & ul{
    .name-user{
     font-size: 15px;
    }
    .level-user{
      font-size:20px;
      
    }
  }
}

.side-line{
  background-color: #e9edf4;
    width: 1px;
    height: 40px;
    display: inline-block;
}

